In [121]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [122]:
pd.set_option('display.max_rows' , None)
pd.set_option('display.max_columns' , None)

In [123]:
df1 = pd.read_csv('cleaned_flats_data.csv')
df2 = pd.read_csv('cleaned_house_data.csv')

In [124]:
df1.columns

Index(['property_name', 'Property_type', 'society', 'price', 'price_per_sqft',
       'area', 'areaWithType', 'bedRoom', 'bathroom', 'balcony',
       'additionalRoom', 'address', 'floorNum', 'facing', 'agePossession',
       'nearbyLocations', 'description', 'furnishDetails', 'features',
       'rating'],
      dtype='object')

In [125]:
df2.columns

Index(['property_name', 'Property_type', 'society', 'price', 'price_per_sqft',
       'area', 'areaWithType', 'bedRoom', 'bathroom', 'balcony',
       'additionalRoom', 'address', 'floorNum', 'facing', 'agePossession',
       'nearbyLocations', 'description', 'furnishDetails', 'features',
       'rating'],
      dtype='object')

In [126]:
df = pd.concat([df1,df2],ignore_index=True)

In [127]:
df = df.sample(df.shape[0],ignore_index=True)

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3961 entries, 0 to 3960
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3961 non-null   object
 1   Property_type    3961 non-null   object
 2   society          3960 non-null   object
 3   price            3941 non-null   float64
 4   price_per_sqft   3941 non-null   float64
 5   area             3941 non-null   float64
 6   areaWithType     3961 non-null   object
 7   bedRoom          3961 non-null   int64
 8   bathroom         3961 non-null   int64
 9   balcony          3961 non-null   object
 10  additionalRoom   3961 non-null   object
 11  address          3950 non-null   object
 12  floorNum         3940 non-null   float64
 13  facing           2784 non-null   object
 14  agePossession    3960 non-null   object
 15  nearbyLocations  3754 non-null   object
 16  description      3961 non-null   object
 17  furnishDetails   2929 non-null   object
 18  features         3252 non-null   object
 19  rating           3511 non-null   object
dtypes: float64(4), int64(2), object(14)
memory usage: 619.0+ KB

In [129]:
# duplicate value
df.duplicated().sum()

np.int64(0)

- there are no duplicate values in dataset

In [130]:
df.shape

(3961, 20)

In [131]:
df.head()

,property_name,Property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,7 Bedroom House for sale in Mianwali Colony,house,independent,2.90,10740.0,2700.0,Plot area 2700(250.84 sq.m.),7,7,3,not available,"Mianwali Colony, Gurgaon, Haryana",2.0,South-West,10+ Year Old,"['Hanuman Mandir', 'Sheetla Mata Mandir', 'M G...",Walking distance from gurgaon main bus stand a...,NaN,['Water Storage'],"['Environment3.5 out of 5', 'Lifestyle4 out of..."
1,2 BHK Flat in Sector 77 Gurgaon,flat,umang winter hills,0.86,6408.0,1342.0,Super Built up area 1342(124.68 sq.m.),2,2,2,not available,"Sector 77 Gurgaon, Gurgaon, Haryana",16.0,NaN,0 to 1 Year Old,"['Entertainland Mall', 'Delhi Jaipur Expresswa...",We are the proud owners of this 2 bhk apartmen...,"['1 Water Purifier', '5 Fan', '3 Geyser', '1 S...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction5 out of..."
2,3 BHK Flat in Sector 22 Gurgaon,flat,ambience creacions,2.55,13709.0,1860.0,Super Built up area 1860(172.8 sq.m.)Built Up ...,3,3,3,others,"A803, Sector 22 Gurgaon, Gurgaon, Haryana",8.0,North-East,1 to 5 Year Old,"['Moulsari Avenue', 'Ambience Mall', 'Old Delh...",This 3 bhk flat is located in ambience creacio...,"['3 Wardrobe', '5 Fan', '1 Fridge', '1 Exhaust...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
3,12 Bedroom House for sale in DLF Phase 2,house,dlf city plots phase 2,10.00,400000.0,250.0,Plot area 250(23.23 sq.m.),12,12,3+,"study room,servant room","Kkmb108, DLF Phase 2, Gurgaon, Haryana",4.0,North,1 to 5 Year Old,"['Vodafone belvedere towers metro station', 'D...",12 bedroom with 1 study room.On every floor fl...,"['24 Fan', '1 Exhaust Fan', '12 Geyser', '1 St...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
4,5 Bedroom House for sale in Sector 28 Gurgaon,house,suncity essel towers,8.95,17900.0,5000.0,Plot area 5000(464.52 sq.m.),5,6,3+,not available,"Sector 28 Gurgaon, Gurgaon, Haryana",4.0,NaN,5 to 10 Year Old,"['Iffco chowk metro station', 'Mg road metro s...","East entry vastu perfect\nLot of daylight, no ...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle5 out of 5..."

In [132]:
df.to_csv('Gurgaon_Properties_data.csv' , index = False)